[Unit]
Description=Run update_lab_db every 10 seconds (throttled to 1 min outside OH)

[Timer]
OnBootSec=10
OnUnitActiveSec=10
Unit=update_lab_db.service

[Install]
WantedBy=timers.target
